/*Entire site CSS*/
  html,
  body {
    height: 100%;
    background: #121212;
    color: white;
  }
  a:link,
  a:visited,
  a i {
    color: black;
  }
  #catNav {
    overflow: auto;
    white-space: nowrap;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #catNav::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  #catNav {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
/*End of Entire site CSS*/


/*Carousel CSS*/
  .carousel-caption h5,
  .carousel-caption p {
    color: white;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
  }
  .carousel {
    border-radius: 0.25rem;
    overflow: hidden;
  }
/*End of Carousel CSS*/


/*GoTop CSS*/
  #backToTopBtn {
    /*General style*/
    height: 2.5em;
    width: 2.5em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    display: hidden;
    box-shadow: 1px 1px 5px #121212;
    /*Keeps button in bottom right corner*/
    position: fixed;
    bottom: 0.7em;
    right: 0.7em;

    /*Keeps button on top of everything*/
    z-index: 99;
  }
  .goTop {
    transform: translateY(0);
  }
  .goTopHidden {
    transform: translateY(4em);
    transition: all 0.4s;
  }
  #backToTopBtn span {
    margin: auto;
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
  }
/*End of GoTop CSS*/

/*ProductPage CSS*/
  #price {
    color: #92ff51;
  }
/*End of ProductPage CSS*/

/*General Purpose Backgrounds*/
  /*Material Design Backgrounds for Dark Theme
  Source: https://material.io/design/color/dark-theme.html*/
    .md-01dp {
        background-color: rgba(255, 255, 255, 0.05);
    }
    .md-02dp {
        background-color: rgba(255, 255, 255, 0.07);
    }
    .md-03dp {
        background-color: rgba(255, 255, 255, 0.08);
    }
    .md-04dp {
        background-color: rgba(255, 255, 255, 0.09);
    }
    .md-06dp {
        background-color: rgba(255, 255, 255, 0.11);
    }
    .md-08dp {
        background-color: rgba(255, 255, 255, 0.12);
    }
    .md-12dp {
        background-color: rgba(255, 255, 255, 0.14);
    }
    .md-16dp {
        background-color: rgba(255, 255, 255, 0.15);
    }
    .md-24dp {
        background-color: rgba(255, 255, 255, 0.16);
    }
  /*End of Material Design Backgrounds*/
  /*Proprietary Backgrounds*/
    .bg-site-primary{
      background-color: #4bb5f6;
    }
  /*End of Proprietary BackGrounds*/
/*End of General Purpose Backgrounds*/